* {
    color: white;
    font-family: fantasy;
    font-size: 20px;
}

input {
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    color: rgb(79, 79, 141);
}

button {
    margin: 0;
    border: 2.5px solid rgb(79, 79, 141);
    border-radius: 10px;
    padding: 7.5px;
    background: rgb(79, 79, 141);
    cursor: pointer;
    transition: all 0.6s;
}

hr {
    height: 3px;
    border: none;
    background: white;
}

button:hover {
    background: white;
    color: rgb(79, 79, 141);
}

.calculator-wrapper {
    display: flex;
    justify-content: center;
}

.calculator {
    border-radius: 15px;
    align-items: center;
    padding: 25px;
    background: rgb(92, 117, 187);
    height: 275px;
    justify-content: space-around;
}

.all-grades-out {
    color: rgb(92, 117, 187);
    border-radius: 10px;
    background: rgb(197, 208, 211);
    padding: 10px 25px;
}

.out {
    color: rgb(92, 117, 187);
    border-radius: 10px;
    background: rgb(197, 208, 211);
    padding: 10px 25px;
}